@using Project.Web.Models;
@model List<Product>

@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@{
    double totalmoney = 0;
    double tax = 0;
}

<h2 class="center">Your Items</h2>

    @foreach (Product p in Model)
    {
        totalmoney += (p.Price * p.Quantity);
        tax = (totalmoney * .08);
        <div class="large-bottom table-middle">
            <img class="cart-img" src="@Url.Content("~/Content/img/" + p.ImgName)" />
            <table>
                <thead>
                    <tr>
                       <td><strong>Quantity</strong></td>
                        <td><strong>Price Per Item</strong></td>
                        <td><strong>Item Subtotal</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p>@p.Quantity</p></td>
                        <td><p>$@p.Price</p></td>
                        <td><p>$@(p.Quantity * p.Price)</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    
    <div class="total-right">
        <h4>Sub Total :@totalmoney.ToString("C")</h4>
        <h4>Tax :@((totalmoney * .08).ToString("C"))</h4>
        <h4>Total Amount Due :@((totalmoney + tax).ToString("C"))</h4>
    </div>

